{% extends "reviews/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <legend class="border-bottom mb-4 text-center">
            {% if not task %}
                Create a Review
            {% else %}
                {{ task }} a Review
            {% endif %}
        
        </legend>
        <form method="POST" enctype='multipart/form-data'>
            <fieldset class="form-group">
            {% csrf_token %}
            {% if request.get_full_path == "/reviews/new/" %}
                <h3>Book / Article</h3>
                {{ t_form|crispy }}
            {% else %}
            <h5>You are posting in response to</h5>
            <div class="media content-section">
                <div class="media-body">
                      <p class="border-bottom"><span class="text-primary font-weight-bold">{{ ticket.user }}</span>
                          <span><small class="text-muted">posted on {{ ticket.time_created|date:"F j, Y, g:i a" }} this ticket</small></span>
                        </p>
                        <div class="box text-center">
                            <h5 class="font-weight-bold">{{ ticket.title }}</h5>
                        </div>
                        <div class="container pt-3">
                            <div class="row">
                              <div class="col flex-grow-0 px-1">
                                {% if ticket.image %}
                                    <img class="img-thumbnail float-left mb-1 mr-3" src="{{ ticket.image.url }}" width="125" height="200">
                                {% endif %}
                                <div class="text-justify">
                                    {{ ticket.description }}
                                </div>
                              </div>
                            </div>
                        </div>
                </div>
            </div>
            {% endif %}
            
            <h3 class="border-top mt-4">Review</h3>
            {{ r_form|crispy }}
            </fieldset>
            <div class="form-group text-right">
                <a class="btn btn-danger" href="{% url 'reviews:review-home' %}">Cancel</a>
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock content %}
