{% extends "reviews/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-center">{{ task }} a Ticket</legend>
                {{ t_form|crispy }}
            </fieldset>
            <div class="form-group text-right">
                <a class="btn btn-danger" href="{% url 'reviews:review-home' %}">Cancel</a>
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock content %}
